# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
vc140.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vpc_crc
*.sln
*.res
*.lib
*.pdb

.vs/
Release*/
Debug*/

*.vpc.sentinel
*.vpc_cache
*.vcxproj.*

*.tmp
build/*
src/.idea/
src/lib/


# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
/game/
_vpc_/
src/vscript/languages/squirrel/vsquirrel/init_nut.h
generated_proto/

.claude/settings.local.json
build_probe/*
Run_CodeX_AI.bat
Run_Calude_AI.bat
build_vpc/*
dcc_plugin/maya_module/scripts/*
*.pyc
